<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&family=Raleway:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- CDN  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
  </head>
  <body>
    <div
      class="header_div"
      style="
        background-color: rgba(96, 239, 213, 0.1);
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 100px;
        padding-right: 100px;
        
      "
    >
      <img
        src="https://i.ibb.co/9WKhSmw/mail-logo.png"
        alt="Lu'um-e"
        class="logo"
        style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 200px;
          height: auto;
          justify-self: center;
          padding-bottom: 10px;
        "
      />
      <h2
        style="
          font-family: Montserrat, sans-serif;
          color: #0f3b53;
          font-weight: 600;
          font-size: 30px;
          text-align: center;
        "
      >
        ¡Bienvenido a nuestra comunidad sustentable!
      </h2>
    </div>

    <div
      class="section_content"
      style="
        display: grid;
        justify-items: center;
        align-items: center;
        grid-row-gap: 1rem;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 60px;
      "
    >
      <img
        src="https://i.ibb.co/64FzFKr/header-mockup.png"
        alt="Lu'um-e App"
        class="header_mvp"
        style="
          width: 450px; 
          display: block;
          margin-left: auto;
          margin-right: auto;"
      />
      <h3
        style="
          font-family: Montserrat, sans-serif;
          color: #0f3b53;
          font-weight: 600;
          font-size: 30px;
          text-align: center;
        "
      >
        ¡Ya eres parte de lu'um-e!
      </h3>
      <p
        style="
          font-family: Raleway, sans-serif;
          color: #545456;
          font-weight: 400;
          font-size: 22px;
          text-align: center;
        "
      >
        Nuestra misión en el planeta es ofrecer las herramientas tecnológicas
        necesarias para que ustedes puedan reciclar de una manera práctica y
        conveniente.
      </p>
      <p
        style="
          font-family: Raleway, sans-serif;
          color: #545456;
          font-weight: 400;
          font-size: 22px;
          text-align: center;
        "
      >
        Actualmente nos encontramos desarrollando nuestra aplicación. En el
        proceso puedes ayudarnos a crecer nuestra comunidad en redes sociales.
      </p>
      <a
        href="https://youtu.be/OYyW1Al8nFo"
        style="text-decoration: none;
          display: inline-block;
          border: none;
          border-radius: 10px;
          font-family: $font-display;
          font-weight: 600;
          font-size: 22px;
          cursor: pointer;
          background-image: linear-gradient(
            to right,
            #1094d2,
            #53c0a4,
            #6fbe45
           );
          color: #ffff;
          padding: 15px 20px;
          width: 280px;
          text-align: center; 
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 25px;"
      >Conoce Nuestra Historia</a>
      <h4
        style="
          font-family: Montserrat, sans-serif;
          color: #0f3b53;
          font-weight: 600;
          font-size: 20px;
          text-align: center;
          margin-top: 15px;
        "
      >
        ¡Sé parte de nuestra travesía y siguenos en redes sociales!
      </h4>
      <div
        style="
          margin-left: auto;
          margin-right: auto;
          margin-top: 25px;
          "
      >
        <a href="https://www.facebook.com/luumeApp"><img
            src="https://i.ibb.co/kDYrjBs/facebook.png"
            alt="facebook"
            border="0"
            style="margin-right: 10px; width: 55px"
          /></a>
        <a href="https://www.instagram.com/luumeApp/"><img
            src="https://i.ibb.co/6DtDT2h/intsgram.png"
            alt="intsgram"
            border="0"
            style="margin-right: 10px; width: 55px"
          /></a>
        <a href="https://www.youtube.com/channel/UCbFNaQXwCkpzNV14CvkGbhQ"><img
            src="https://i.ibb.co/cFm7KnQ/youicon.png"
            alt="youicon"
            border="0"
            style="width: 55px;"
          /></a>
      </div>
      <span
        style="
          font-family: Raleway, sans-serif;
          color: #545456;
          font-weight: 400;
          font-size: 12px;
          text-align: center;
          margin-top: 20px;
        "
      >Copyright © 2022 Luum-e, All rights reserved.</span>
      <span
        style="
          font-family: Raleway, sans-serif;
          color: #545456;
          font-weight: 400;
          font-size: 12px;
          text-align: center;
        "
      >You are receiving this email because you opted in via our website.</span>
    </div>
  </body>
</html>